# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Excel / Office temporales
~$*.xlsx
~$*.xls
*.tmp
*.temp

# Build / packaging
build/
dist/
*.egg-info/
