# Python
__pycache__/
*.py[cod]
*.pyo
*.so

# Entornos
.env
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Excel temporales
~$*.xlsx
~$*.xls

# Power BI
**/.pbi/
*.pbip.user
*.pbit
cache.abf
localSettings.json
.vs/

# OS
.DS_Store
Thumbs.db

# Build / packaging
build/
dist/
*.egg-info/

# Opcional si luego haces testing / lint
.pytest_cache/
.tox/
.nox/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
.pyre/
.pytype/
